.container {
    display: flex;
    width: 400px;

    /* justify-content: center; */
    margin: 0 auto;
    align-items: center;
    /* height: 100vh; */
    /* Adjust as needed */
}

.label {
    display: block;
    font-size: 18px;
    margin-bottom: 8px;
    color: #fff;
}

.inputContainer {
    position: relative;
    margin-top: 15px;
}

.input {
    width: 400px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input:focus {
    border-color: #4caf50;
}